# Proyek Analisis Data: Brazilian E-Commerce Public Dataset by Olist
- Nama: Muhamad Syafe'ie
- Email: zhavei.vei@gmail.com
- Id Dicoding: zhavei

## Menentukan Pertanyaan Bisnis

1. Apakah produk yang paling banyak di minati dan tidak di minati?
2. 10 kategori produk terlaris berdasarkan keuntungan?
3. performa seller berdasarkan state dan city?
4. dimanakah pesanan terbanyak berdasarkan kota?

# Mengimport semua library yang dibutuhkan

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Data Wrangling

### Gathering Data

In [2]:
customers = pd.read_csv('data/customers_dataset.csv')
orders = pd.read_csv('data/orders_dataset.csv')
order_reviews = pd.read_csv('data/order_reviews_dataset.csv')
payments = pd.read_csv('data/order_payments_dataset.csv')
order_items = pd.read_csv('data/order_items_dataset.csv')
products = pd.read_csv('data/products_dataset.csv')
sellers = pd.read_csv('data/sellers_dataset.csv')
geolocation = pd.read_csv('data/geolocation_dataset.csv')
products_eng = pd.read_csv('data/product_category_name_translation.csv')

csv_files = [
    'customers_dataset.csv',
    'orders_dataset.csv',
    'order_reviews_dataset.csv',
    'order_payments_dataset.csv',
    'order_items_dataset.csv',
    'products_dataset.csv',
    'sellers_dataset.csv',
    'geolocation_dataset.csv',
    'product_category_name_translation.csv'
]

data = {'orders': orders,
        'items': order_items,
        'products': products,
        'payments': payments,
        'reviews': order_reviews,
        'customers': customers,
        'sellers': sellers,
        'geo': geolocation,
        'category': products_eng}

# `csv_files` `data` di gunakan untuk proses gathering data, asenssing data dan cleaning data
for file in csv_files:
    df = pd.read_csv('data/' + file)
    display(file, df.head())

'customers_dataset.csv'

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

'orders_dataset.csv'

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

'order_reviews_dataset.csv'

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

'order_payments_dataset.csv'

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

'order_items_dataset.csv'

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

'products_dataset.csv'

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

'sellers_dataset.csv'

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

'geolocation_dataset.csv'

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

'product_category_name_translation.csv'

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

### Assessing Data

Sebelum melakukan analisis data, perlu dilakukan pemeriksaan data terlebih dahulu. Pemeriksaan data meliputi pengecekan tipe data, missing value, duplikat data, dan parameter statistik.

#### check info

In [3]:
for file in csv_files:
    df = pd.read_csv('data/' + file)
    print(f"\n{file} check info:")
    display(df.info())

customers_dataset.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

orders_dataset.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

None

order_reviews_dataset.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

None

order_payments_dataset.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

None

order_items_dataset.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

None

products_dataset.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

None

sellers_dataset.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

None

geolocation_dataset.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

None

product_category_name_translation.csv check info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

None

banyak data `date` bertipe object seharusnya ia merupakan data `date`

#### check null data

In [4]:
for file in csv_files:
    df = pd.read_csv('data/' + file)
    print(f"\n{file} check null:")
    display(df.isna().sum())

customers_dataset.csv check null:

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

orders_dataset.csv check null:

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

order_reviews_dataset.csv check null:

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

order_payments_dataset.csv check null:

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

order_items_dataset.csv check null:

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

products_dataset.csv check null:

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

sellers_dataset.csv check null:

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

geolocation_dataset.csv check null:

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

product_category_name_translation.csv check null:

product_category_name            0
product_category_name_english    0
dtype: int64

perlu di analisa lebih lanjut terkait table `order` mengapa memiliki banyak missing values. karena data tersebut akan banyak memberikan insight.

#### check duplikasi data

In [5]:
for file in csv_files:
    df = pd.read_csv('data/' + file)
    print(f"\n{file} check duplikat:")
    print(f"jumlah duplikasi {file} : ", df.duplicated().sum())

customers_dataset.csv check duplikat:
jumlah duplikasi customers_dataset.csv :  0

orders_dataset.csv check duplikat:
jumlah duplikasi orders_dataset.csv :  0

order_reviews_dataset.csv check duplikat:
jumlah duplikasi order_reviews_dataset.csv :  0

order_payments_dataset.csv check duplikat:
jumlah duplikasi order_payments_dataset.csv :  0

order_items_dataset.csv check duplikat:
jumlah duplikasi order_items_dataset.csv :  0

products_dataset.csv check duplikat:
jumlah duplikasi products_dataset.csv :  0

sellers_dataset.csv check duplikat:
jumlah duplikasi sellers_dataset.csv :  0

geolocation_dataset.csv check duplikat:
jumlah duplikasi geolocation_dataset.csv :  261831

product_category_name_translation.csv check duplikat:
jumlah duplikasi product_category_name_translation.csv :  0

terlihat hanya `geo location` saja yg memiliki duplikat ini di karenakan costomer yg sama sering melakukan transaksi.

### Cleaning Data

membersihkan dan menggabungkan antara data customer, order_item, orders, products, seller, payments.

In [6]:
# melakukan merge data yang akan di gunakan
# Merge the order items and orders datasets
order_data = pd.merge(order_items, orders, on='order_id')

# Merge in the customer data 
order_data = pd.merge(order_data, customers, on='customer_id')  

# Merge in the product data
order_data = pd.merge(order_data, products, on='product_id')

# merge in seller data
order_data = pd.merge(order_data, sellers, on='seller_id')

# merge in payments data
order_data = pd.merge(order_data, payments, on='order_id')

# merge in category name english
data = pd.merge(order_data, products_eng, on='product_category_name')


# Write to a CSV file without selecting columns
data.to_csv('data/combined_dataset.csv', index=False)

combine_data = pd.read_csv('data/combined_dataset.csv')

display(combine_data.head())
display(combine_data.info())

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,payment_sequential,payment_type,payment_installments,payment_value,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,...,9.0,14.0,27277,volta redonda,SP,1,credit_card,2,72.19,cool_stuff
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,...,9.0,14.0,27277,volta redonda,SP,1,boleto,1,73.86,cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,...,9.0,14.0,27277,volta redonda,SP,1,credit_card,2,83.23,cool_stuff
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,30407a72ad8b3f4df4d15369126b20c9,delivered,2017-08-01 18:38:42,...,9.0,14.0,27277,volta redonda,SP,1,credit_card,3,75.07,cool_stuff
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,91a792fef70ecd8cc69d3c7feb3d12da,delivered,2017-08-10 21:48:40,...,9.0,14.0,27277,volta redonda,SP,1,credit_card,4,72.19,cool_stuff

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115878 entries, 0 to 115877
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115878 non-null  object
 1   order_item_id                  115878 non-null  int64
 2   product_id                     115878 non-null  object
 3   seller_id                      115878 non-null  object
 4   shipping_limit_date            115878 non-null  object
 5   price                          115878 non-null  float64
 6   freight_value                  115878 non-null  float64
 7   customer_id                    115878 non-null  object
 8   order_status                   115878 non-null  object
 9   order_purchase_timestamp       115878 non-null  object
 10  order_approved_at              115864 non-null  object
 11  order_delivered_carrier_date   114673 non-null  object
 12  order_delivered_customer_date  113383 non-null  object
 13  order_estimated_delivery_date  115878 non-null  object
 14  customer_unique_id             115878 non-null  object
 15  customer_zip_code_prefix       115878 non-null  int64
 16  customer_city                  115878 non-null  object
 17  customer_state                 115878 non-null  object
 18  product_category_name          115878 non-null  object
 19  product_name_lenght            115878 non-null  float64
 20  product_description_lenght     115878 non-null  float64
 21  product_photos_qty             115878 non-null  float64
 22  product_weight_g               115877 non-null  float64
 23  product_length_cm              115877 non-null  float64
 24  product_height_cm              115877 non-null  float64
 25  product_width_cm               115877 non-null  float64
 26  seller_zip_code_prefix         115878 non-null  int64
 27  seller_city                    115878 non-null  object
 28  seller_state                   115878 non-null  object
 29  payment_sequential             115878 non-null  int64
 30  payment_type                   115878 non-null  object
 31  payment_installments           115878 non-null  int64
 32  payment_value                  115878 non-null  float64
 33  product_category_name_english  115878 non-null  object
dtypes: float64(10), int64(5), object(19)
memory usage: 30.1+ MB

None

banyak data `date` yang masih bertipe `object` mari kita ubah

In [7]:
#data cleaning : mengganti tipe data yang sesuai
combine_data['order_purchase_timestamp'] = pd.to_datetime(combine_data['order_purchase_timestamp'])
combine_data['order_approved_at'] = pd.to_datetime(combine_data['order_approved_at'])
combine_data['order_delivered_carrier_date'] = pd.to_datetime(combine_data['order_delivered_carrier_date'])
combine_data['order_delivered_customer_date'] = pd.to_datetime(combine_data['order_delivered_customer_date'])
combine_data['order_estimated_delivery_date'] = pd.to_datetime(combine_data['order_estimated_delivery_date'])
combine_data['shipping_limit_date'] = pd.to_datetime(combine_data['shipping_limit_date'])

combine_data['customer_zip_code_prefix'] = combine_data['customer_zip_code_prefix'].astype('str')
combine_data['order_item_id'] = combine_data['order_item_id'].astype('str')

combine_data['customer_id'] = combine_data['customer_id'].astype(str)
combine_data['order_id'] = combine_data['order_id'].astype(str)
combine_data['order_id'] = combine_data['order_id'].astype(str)
combine_data['product_id'] = combine_data['product_id'].astype(str)

combine_data.info()
combine_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115878 entries, 0 to 115877
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115878 non-null  object
 1   order_item_id                  115878 non-null  object
 2   product_id                     115878 non-null  object
 3   seller_id                      115878 non-null  object
 4   shipping_limit_date            115878 non-null  datetime64[ns]
 5   price                          115878 non-null  float64
 6   freight_value                  115878 non-null  float64
 7   customer_id                    115878 non-null  object
 8   order_status                   115878 non-null  object
 9   order_purchase_timestamp       115878 non-null  datetime64[ns]
 10  order_approved_at              115864 non-null  datetime64[ns]
 11  order_delivered_carrier_date   114673 non-null  datetime64[ns]
 12  order_delivered_customer_date  113383 non-null  datetime64[ns]
 13  order_estimated_delivery_date  115878 non-null  datetime64[ns]
 14  customer_unique_id             115878 non-null  object
 15  customer_zip_code_prefix       115878 non-null  object
 16  customer_city                  115878 non-null  object
 17  customer_state                 115878 non-null  object
 18  product_category_name          115878 non-null  object
 19  product_name_lenght            115878 non-null  float64
 20  product_description_lenght     115878 non-null  float64
 21  product_photos_qty             115878 non-null  float64
 22  product_weight_g               115877 non-null  float64
 23  product_length_cm              115877 non-null  float64
 24  product_height_cm              115877 non-null  float64
 25  product_width_cm               115877 non-null  float64
 26  seller_zip_code_prefix         115878 non-null  int64
 27  seller_city                    115878 non-null  object
 28  seller_state                   115878 non-null  object
 29  payment_sequential             115878 non-null  int64
 30  payment_type                   115878 non-null  object
 31  payment_installments           115878 non-null  int64
 32  payment_value                  115878 non-null  float64
 33  product_category_name_english  115878 non-null  object
dtypes: datetime64[ns](6), float64(10), int64(3), object(15)
memory usage: 30.1+ MB

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,...,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,payment_sequential,payment_type,payment_installments,payment_value,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,...,9.0,14.0,27277,volta redonda,SP,1,credit_card,2,72.19,cool_stuff
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,...,9.0,14.0,27277,volta redonda,SP,1,boleto,1,73.86,cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,...,9.0,14.0,27277,volta redonda,SP,1,credit_card,2,83.23,cool_stuff
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,30407a72ad8b3f4df4d15369126b20c9,delivered,2017-08-01 18:38:42,...,9.0,14.0,27277,volta redonda,SP,1,credit_card,3,75.07,cool_stuff
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,91a792fef70ecd8cc69d3c7feb3d12da,delivered,2017-08-10 21:48:40,...,9.0,14.0,27277,volta redonda,SP,1,credit_card,4,72.19,cool_stuff

In [8]:
#Hapus duplicate
combine_data.drop_duplicates(keep='first', inplace=True)
print('check duplikat : ', combine_data.duplicated().sum())

check duplikat :  0

## Exploratory Data Analysis (EDA)

#### Explore data yang telah di combine menjadi sebuah insight yang berguna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115878 entries, 0 to 115877
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115878 non-null  object
 1   order_item_id                  115878 non-null  object
 2   product_id                     115878 non-null  object
 3   seller_id                      115878 non-null  object
 4   shipping_limit_date            115878 non-null  datetime64[ns]
 5   price                          115878 non-null  float64
 6   freight_value                  115878 non-null  float64
 7   customer_id                    115878 non-null  object
 8   order_status                   115878 non-null  object
 9   order_purchase_timestamp       115878 non-null  datetime64[ns]
 10  order_approved_at              115864 non-null  datetime64[ns]
 11  order_delivered_carrier_date   114673 non-null  datetime64[ns]
 12  order_delivered_customer_date  113383 non-null  datetime64[ns]
 13  order_estimated_delivery_date  115878 non-null  datetime64[ns]
 14  customer_unique_id             115878 non-null  object
 15  customer_zip_code_prefix       115878 non-null  object
 16  customer_city                  115878 non-null  object
 17  customer_state                 115878 non-null  object
 18  product_category_name          115878 non-null  object
 19  product_name_lenght            115878 non-null  float64
 20  product_description_lenght     115878 non-null  float64
 21  product_photos_qty             115878 non-null  float64
 22  product_weight_g               115877 non-null  float64
 23  product_length_cm              115877 non-null  float64
 24  product_height_cm              115877 non-null  float64
 25  product_width_cm               115877 non-null  float64
 26  seller_zip_code_prefix         115878 non-null  int64
 27  seller_city                    115878 non-null  object
 28  seller_state                   115878 non-null  object
 29  payment_sequential             115878 non-null  int64
 30  payment_type                   115878 non-null  object
 31  payment_installments           115878 non-null  int64
 32  payment_value                  115878 non-null  float64
 33  product_category_name_english  115878 non-null  object
dtypes: datetime64[ns](6), float64(10), int64(3), object(15)
memory usage: 30.1+ MB

## Visualization & Explanatory Analysis

### Pertanyaan 1:

1. Apakah produk yang paling banyak di minati dan tidak di minati?

### Pertanyaan 2:

2. 10 kategori produk terlaris berdasarkan keuntungan?

### Pertanyaan 3 :

3. performa seller berdasarkan state dan city?

### Pertanyaan 4 :

4. dimanakah pesanan terbanyak berdasarkan kota?

## Conclusion

- Conclution pertanyaan 1
- conclution pertanyaan 2